.container__small-card {
  max-width: 300px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: column;
}

.small-card__photo > img {
  width: 300px;
  min-width: 200px;
}

.small-card__title {
  display: flex;
  align-items: center;
  font-size: 0.4rem;
}

