<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://picsum.photos/600"
      cardTitle="Veja essa forma de perder peso em 1 semana!"
      cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu rhoncus nisl."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://picsum.photos/300"
      cardTitle="Os perigos de chats online!"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://picsum.photos/400"
      cardTitle="Saiu a nova versão do Angular"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://picsum.photos/500"
      cardTitle="Amores proibidos de novelas!"
    ></app-small-card>
  </div>
</div>
