.container__menu-bar {
  background-color: #e10600;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

}

.logo img {
  width: 60px;
  height: 60px;
}

.container__menu-bar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container__menu-bar ul li {
  list-style: none;
}

.container__menu-bar ul li a {
  font-family: formula1;
  font-size: 1rem;
  color: white;
}

.container__menu-bar hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
