<div class="container__menu-bar">
  <div class="menu-bar-content">
  <div class="logo">
    <img src="../../../assets/img/f1-logo.png" alt="">
  </div>
  <div class="links">
  <ul>
    <li><a [routerLink]="['']">Início</a></li>
    <li><a [routerLink]="['']">Artigos</a></li>
    <li><a [routerLink]="['']">Pilotos</a></li>
    <li><a [routerLink]="['']">Times</a></li>
    <li><a [routerLink]="['']">Calendário</a></li>
    <li><a [routerLink]="['']">Resultados</a></li>
  </ul>
</div>
</div>
</div>
